@model IEnumerable<IBhayiPharmacyManagementSystem.Models.PrescriptionLine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionLineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionLineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionLineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
